



.root {
  
    
    display: flex;
    align-items: center;
    justify-content: space-between;

   


    .rightMenu {
        display: flex;
        align-items: center;
        gap: 20px;

    }

     :global {
        .ant-divider {
            margin: 0 !important;
        }
     }


}