



.root {
  

    

     .navbar {
        position: relative;
        border-bottom: 1px solid rgba(34, 60, 80, 0.2);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }




    .leftBlock {
         display: flex;
         height: 100%;
         align-items: center;
         gap: 20px;
          li {
             display: flex;
             align-items: center;
            height: 100%;
          }
    }

    .logo {
       a{
        display: flex;
        align-items: center;
        gap: 5px;
       } 

    }

   .rightBlock {
       display: flex;
       height: 100%;
       gap: 20px;
       align-items: center;
   }



    .mobileNavbar {
     display: none;
    }

     :global {
        .ant-divider {
            margin: 0 !important;
        }
     }



     @media(max-width: 768px) {
        .mobileNavbar {
            display: block;
           }

           .leftBlock {
            width: 100%;
             justify-content: center;
               li {
                display: none;
               }

               .logo {
                display: block;
                justify-self: center;
               }

              
           }

           .rightBlock {
            display: none;
           }

         

           
       
    }


}



