



.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(220, 220, 220);

   


    .rightMenu {
        display: flex;
        align-items: center;
        gap: 40px;

    }

     :global {
        .ant-divider {
            margin: 0 !important;
        }
     }


}