



.root {

    .cardHolder {
      
        padding-top: 40px;
    }
    .filters {
        padding: 50px 0 0 0 ;
    }
    .pagination {
        display: flex;
        padding: 50px 0 0 0 ;
    }
}