



.root{
    padding: 20px 20px 50px 20px;
    margin: 0 5%;
}

.title {
    margin-top: 20px;
    font-size: 20px;
}

.inputTitle {
    font-size: 18px;
}

.input {
    margin-top: 40px;
}



.comment {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: rgb(246, 244, 244);
    border-radius: 20px;
    margin-top: 20px;
    text-align: left;
    align-items: center;
}


.userName {
    font-size: 18px;
}

.text {
    
}