



body {
 
   height: 2000px;
 
   overflow-y: scroll !important;
   
   
}

.modal-open{overflow-y: scroll;}


.container {
    margin: 0 auto;
    max-width: 1200px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}