



.root {
      
    padding-top: 50px;


    .menu {
        display: grid;
        width: 968px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 131px;
        row-gap: 101px;
    }


    

    .item {
        cursor: pointer;
        text-align: center;
        width: 235px;
        height: 223px;
        border-radius: 20px;
        background-color: #f5f5f5;
        box-shadow: 1px 1px 4px rgb(175, 175, 175);
        border: 1px solid rgb(194, 194, 194);
        transition: background-color 0.5s;

        .item_title {
            margin-top: 21px;
            font-size: 24px;
        }

        .item_image {
            margin-top: 21px;
            height: 131px;
            width: auto;
        }
    }

    .item:hover {
        background-color: #cfcfcf;

    }

}