



.root{


    .title {
        display: flex;
        justify-content: center;
    }

    .card_holder {
        display: flex; 
        gap: 48px;
        flex-wrap: wrap;
    }

     
    .filters {
       
    }



}


