



.root {
    padding-top: 40px;


    .username {
        font-size: 40px;
        width: max-content;
        margin: 0 auto;
    }

    .userinfo {
        font-size: 24px;
        margin-top: 40px;
    }


   

    
}