



.root {
    padding-top: 40px;


    .username {
        font-size: 28px;
        width: max-content;
        margin: 0 auto;
    }

    .userinfo {
        margin-top: 40px;
    }

    .name {
        margin-top: 20px;
    }
}