



.root {
    padding-top: 40px;


    .username {
        font-size: 28px;
        width: max-content;
        margin: 0 auto;
    }

    .userinfo {
        margin-top: 40px;
    }


    .userinfo_list {
        margin-top: 20px;

        li {
            display: flex;
        }
    }

    
}