



.root {
    display: flex;
    justify-content: space-between;

    :global(.ant-radio-group) {
     
        display: flex !important; 
        flex-wrap: wrap;
        row-gap: 10px !important;
       }
   
}





@media(max-width: 992px) {
    .root {
        flex-wrap: wrap;
    }
    

    .brands {
        width: 100%;
    }

    .search{
        width: 200px;
        margin-top: 20px;
        // margin-left: auto;
    }

    .sort {
        width: max-content;
        margin-top: 20px;
        margin-left: auto;
    }
}


@media(max-width: 576px) {

    .root {
        justify-content: center;
    }


    
  

    .search {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;

        input {
            width: 200px !important;
        }
    }
    
    .sort {
  
      display: flex;
        width: 100%;
         justify-content: center;

        input {
            width: 200px;
        }
    }

}

