



.root {
    
   

    .userinfo_list {
        margin-top: 20px;

        li {
            font-size: 18px;
            line-height: 2em;
            stroke: 20px;
            display: flex;
            align-items: end;
        }

        .edit {
            margin-left: 10px;
            cursor: pointer;
            font-size: small;
            text-decoration:underline;
            color: blue;
        }
    }
}