.root {
  .item {
    position: relative;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .title {
    text-align: left;
    opacity: 80%;
    font-size: 28px;
    line-height: 50px;
    color: white;
    position: absolute;
    top: 200px; 
    left: 80px;
    height: 20px;
  }
}
