


.root {



    
    .text {
       
        span {
            color: blue;
            text-decoration:underline;
            cursor: pointer
        }
    }
}


.result {
    margin-top: -40px;
    margin-left: 80px;
  }


 